In [197]:
import pandas as pd

In [198]:
item_attr_data = pd.read_csv("data/list_attr_items.txt", sep=" ", header=None)
attr_data = pd.read_csv("data/list_attr_cloth.txt")
item_color_data = pd.read_csv("data/list_color_cloth.csv")

In [199]:
item_color_data

                                              image_name clothes_color
0      img/WOMEN/Blouses_Shirts/id_00000001/02_1_fron...        Cream
1      img/WOMEN/Blouses_Shirts/id_00000001/02_2_side...        Cream
2      img/WOMEN/Blouses_Shirts/id_00000001/02_3_back...        Cream
3      img/WOMEN/Blouses_Shirts/id_00000001/02_4_full...        Cream
4           img/WOMEN/Dresses/id_00000002/02_1_front.jpg  Black-blush
...                                                  ...           ...
52707  img/WOMEN/Jackets_Coats/id_00007982/12_7_addit...   Navy-black
52708  img/WOMEN/Jackets_Coats/id_00007982/13_1_front...  Cream-black
52709  img/WOMEN/Jackets_Coats/id_00007982/13_2_side.jpg  Cream-black
52710  img/WOMEN/Jackets_Coats/id_00007982/13_3_back.jpg  Cream-black
52711  img/WOMEN/Jackets_Coats/id_00007982/13_7_addit...  Cream-black

[52712 rows x 2 columns]

In [200]:
print(item_color_data)

                                              image_name clothes_color
0      img/WOMEN/Blouses_Shirts/id_00000001/02_1_fron...        Cream
1      img/WOMEN/Blouses_Shirts/id_00000001/02_2_side...        Cream
2      img/WOMEN/Blouses_Shirts/id_00000001/02_3_back...        Cream
3      img/WOMEN/Blouses_Shirts/id_00000001/02_4_full...        Cream
4           img/WOMEN/Dresses/id_00000002/02_1_front.jpg  Black-blush
...                                                  ...           ...
52707  img/WOMEN/Jackets_Coats/id_00007982/12_7_addit...   Navy-black
52708  img/WOMEN/Jackets_Coats/id_00007982/13_1_front...  Cream-black
52709  img/WOMEN/Jackets_Coats/id_00007982/13_2_side.jpg  Cream-black
52710  img/WOMEN/Jackets_Coats/id_00007982/13_3_back.jpg  Cream-black
52711  img/WOMEN/Jackets_Coats/id_00007982/13_7_addit...  Cream-black

[52712 rows x 2 columns]

In [201]:
filtered_paths = []
id_set = set()
attr_data_dict = dict()

for path,color in zip(item_color_data['image_name'],item_color_data['clothes_color']):
    parts = path.split('/')
    id_ = parts[3] # the id_ value is the 4th part of the path
    filename = parts[-1] # the filename is the last part of the path
    if id_ not in id_set and filename.endswith('front.jpg'):
        filtered_paths.append(path)
        id_set.add(id_)
        attr_data_dict[parts[3]] = color
print(len(filtered_paths))
#print(filtered_paths)
#print(attr_data_dict)

7946

In [202]:
#change the path
original_path= filtered_paths[0]
parts = original_path.split('/')
new_path = '/'.join(parts[3:4]) + '.jpg'
print(parts[3])
print(new_path)

id_00000001
id_00000001.jpg

In [203]:
import shutil

# source directory containing the image files
source_dir = '/Users/dylan/Documents/BROWN/CSCI2470/Final Project/Data/In-shop Clothes Retrieval Benchmark/Img'

# destination directory to copy the image files to
destination_dir = '/Users/dylan/Documents/BROWN/CSCI2470/Project_github/CSCI2470-Final-Project/data/img'

new_paths=[]
# loop over each image path and copy the file to the destination directory
for path in filtered_paths:
    source_path = source_dir + '/' + path
    parts = path.split('/')
    new_path = '/'.join(parts[3:4]) + '.jpg'
    new_paths.append(parts[3])
    destination_path = destination_dir + '/' + new_path
    #shutil.copyfile(source_path, destination_path)

In [204]:
#print(new_paths)

In [205]:
item_attr_data=item_attr_data.drop_duplicates()

In [206]:
item_attr_data

,0,1,2,3,4,5,6,7,8,9,...,454,455,456,457,458,459,460,461,462,463
0,id_00000001,1,1,1,-1,-1,1,-1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,id_00000002,1,-1,1,-1,-1,1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,id_00000003,1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,id_00000004,1,-1,1,-1,-1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,id_00000005,1,1,1,-1,1,1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8076,id_00007978,-1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8077,id_00007979,1,-1,-1,1,1,-1,-1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8078,id_00007980,1,1,-1,1,-1,-1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8079,id_00007981,-1,1,-1,1,-1,-1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8080,id_00007982,1,1,-1,1,-1,-1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [207]:
'id_00000001' in new_paths

True

In [208]:
for item in item_attr_data[0]:
    if item not in new_paths:
        print(item)
        item_attr_data=item_attr_data.drop(item_attr_data[item_attr_data[0] == item].index, axis=0)

id_00000008
id_00000773
id_00001453
id_00001785
id_00001995
id_00002205
id_00002405
id_00002759
id_00003020
id_00003103
id_00003106
id_00003180
id_00003422
id_00003615
id_00003817
id_00003833
id_00004161
id_00004406
id_00004776
id_00004782
id_00004850
id_00005222
id_00005374
id_00005412
id_00005696
id_00005878
id_00006128
id_00006145
id_00006574
id_00006951
id_00006966
id_00006989
id_00007063
id_00007064
id_00007520
id_00007573

In [222]:
attr_name = list(attr_data['attribute_name'])
attr_name.insert(0, 'img_idx')
item_attr_data.columns=attr_name
item_attr_data = item_attr_data.reset_index()
item_attr_data

,index,img_idx,lightweight,polyester,woven,knit,cotton,unlined,rayon,spandex,...,buttoned keyhole back,concealed back zipper,invisible back zipper,concealed side zipper,front slant pocket,front patch pocket,adjustable cami strap,adjustable spaghetti strap,back patch pocket,invisible side zipper
0,0,id_00000001,1,1,1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1,id_00000002,1,-1,1,-1,-1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,2,id_00000003,1,1,1,-1,-1,-1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,3,id_00000004,1,-1,1,-1,-1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,4,id_00000005,1,1,1,-1,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7941,8076,id_00007978,-1,1,1,-1,-1,-1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7942,8077,id_00007979,1,-1,-1,1,1,-1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7943,8078,id_00007980,1,1,-1,1,-1,-1,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7944,8079,id_00007981,-1,1,-1,1,-1,-1,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7945,8080,id_00007982,1,1,-1,1,-1,-1,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [235]:
item_attr_data.loc[7]['img_idx']

'id_00000009'

In [243]:
print(item_attr_data[:10])
for i, j in enumerate(item_attr_data["img_idx"]):
    item_attr_data.loc[i, "clothes_color"] = attr_data_dict[j]
print(item_attr_data['clothes_color'].nunique())

   index      img_idx  lightweight  polyester  woven  knit  cotton  unlined  \
0      0  id_00000001            1          1      1    -1      -1        1
1      1  id_00000002            1         -1      1    -1      -1        1
2      2  id_00000003            1          1      1    -1      -1       -1
3      3  id_00000004            1         -1      1    -1      -1        1
4      4  id_00000005            1          1      1    -1       1        1
5      5  id_00000006            1          1     -1     1       1       -1
6      6  id_00000007            1          1     -1     1       1       -1
7      8  id_00000009            1         -1      1    -1      -1       -1
8      9  id_00000010           -1         -1     -1     1       1       -1
9     10  id_00000011           -1         -1      1    -1      -1        1

   rayon  spandex  ...  concealed back zipper  invisible back zipper  \
0     -1       -1  ...                     -1                     -1
1      1       -1  ...                     -1                     -1
2      1       -1  ...                     -1                     -1
3      1       -1  ...                     -1                     -1
4      1       -1  ...                     -1                     -1
5     -1       -1  ...                     -1                     -1
6     -1       -1  ...                     -1                     -1
7      1       -1  ...                     -1                     -1
8     -1       -1  ...                     -1                     -1
9      1       -1  ...                     -1                     -1

   concealed side zipper  front slant pocket  front patch pocket  \
0                     -1                  -1                  -1
1                     -1                  -1                  -1
2                     -1                  -1                  -1
3                     -1                  -1                  -1
4                     -1                  -1                  -1
5                     -1                  -1                  -1
6                     -1                  -1                  -1
7                     -1                  -1                  -1
8                     -1                  -1                  -1
9                     -1                  -1                  -1

   adjustable cami strap  adjustable spaghetti strap  back patch pocket  \
0                     -1                          -1                 -1
1                     -1                          -1                 -1
2                     -1                          -1                 -1
3                     -1                          -1                 -1
4                     -1                          -1                 -1
5                     -1                          -1                 -1
6                     -1                          -1                 -1
7                     -1                          -1                 -1
8                     -1                          -1                 -1
9                     -1                          -1                 -1

   invisible side zipper       clothes_color
0                     -1              Cream
1                     -1        Black-blush
2                     -1        Heather grey
3                     -1        Black-cream
4                     -1           Burgundy
5                     -1  Heather grey-black
6                     -1  Heather grey-black
7                     -1        Cream-multi
8                     -1              Black
9                     -1          Black-red

[10 rows x 466 columns]
759

In [238]:
item_attr_data.to_csv('./data/item_attr_data_cleaned.csv', index=False)

In [172]:
attr_data

                 attribute_name
0                   lightweight
1                     polyester
2                         woven
3                          knit
4                        cotton
..                          ...
458          front patch pocket
459       adjustable cami strap
460  adjustable spaghetti strap
461           back patch pocket
462       invisible side zipper

[463 rows x 1 columns]